body{
    font-family: Helvetica, sans-serif;
    line-height: 1.5em;
}

header h1{
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

ul{
    list-style: none;         
}

li{
    padding-left: 15px;
    display: inline-block;
}

nav{
    display: inline-block;
}

a{
    text-decoration: none;
    color: rgb(7, 170, 7);
}

main h1{
    font-family: serif;
    font-weight: 400;
}

hr{
    border: 1px solid #000;
    margin: 20px 0;
}