*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 5em;
    background-color: #ddd;
}

.gallery{
    display: flex;
}

.gallery li {
    background-color: #FFF;
    display: flex;
    align-items: center;
    list-style: none;
    width:  250px;
    padding: 2em 0.9em;
    border: 6px solid #000;
    box-shadow: 0 0 30px  0.2px black, 
     0 0 10px  0.2px black inset;
}

.gallery img{
    display: block;
    width: 100%;
    height: auto;
}

.gallery ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    flex-basis: 60em;
    margin: 0 auto;
    justify-content: center;
}